* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}

.wrapper_header {
    background-image: url(./img/backgroundHeader.png);
    padding-top: 45px;
    padding-bottom: 95px;
}

.container_big {
    width: 1325px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block_header {
    width: 50%;
}

.block_header.wrapper_nav {
    padding-top: 13px;
}

.logo img {
    width: 263px;
    height: 57px;
    margin-top: 10px;
}

.wrapper_header_contact {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 22px;
    font-size: 17px;
    color: #42200B;
    letter-spacing: 3px;
    font-weight: bold;
}

.wrapper_header_contact img {
    width: 41px;
    height: 33px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

nav ul li {
    font-size: 21px;
    font-weight: 200;
    color: #3d2514;
    letter-spacing: 4px;
    margin-right: 51px;
    cursor: pointer;
    transition: .3s;
}

nav ul li:hover {
    color: #DF1C1C;
}

nav ul li:last-child {
    margin-right: 0px;
}

.block_header.burger {
    width: 48%;
    margin-top: 145px;
}

.border {
    display: inline-block;
    border: 2px dashed #42200B;
    padding: 8px 20px;
    font-size: 23px;
    margin-bottom: 20px;
}

h1 {
    font-size: 114px;
    margin-bottom: 10px;
}

h2 {
    font-size: 56px;
}

.h1_h2_header {
    line-height: 1;
    letter-spacing: 0.5;
    text-transform: uppercase;
    text-shadow: #FFE8BB 5px 5px;
    color: #42200B;
    font-family: 'Alfa Slab One';
}

.block_header.burger_image {
    width: 52%;
    position: relative;
    text-align: center;
}

.burgerHeader {
    width: 100%;
    height: 90%;
    margin-top: 75px;
}

.sales {
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background-color: #DF1C1C;
    padding: 10px;
    position: absolute;
    left: 10px;
    top: 73%;
}

.border_sales {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed #FFFFFF;
    padding: 10px;
}

.wrapper_prise {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.border_sales .prise {
    font-size: 70px;
}

.border_sales p {
    color: #FFFFFF;
    font-size: 34px;
}

/* -----------most popular burger---------------- */

.container_small {
    width: 1235px;
    margin: 80px auto 25px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper_most_popular_burger {
    width: 100%;
    display: flex;
    margin-bottom: 70px;
}

.block_most_popular_burger {
    width: 50%;
    padding-right: 20px;
}

.block_most_popular_burger.second {
    padding-right: 0px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block_popular_burger {
    background: url(./img/popularBurger.png);
}

.block_more_fun {
    background: url(./img/moreFun.png);
    margin-bottom: 30px;
}

.block_fresh_chili {
    background: url(./img/freshChili.png);
}

.block_popular_burger,
.block_more_fun,
.block_fresh_chili {
    width: 100%;
    height: 195px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 25px 30px;
}

.block_popular_burger {
    height: 422px;
}

.block_most_popular_burger p {
    color: #FFFFFF;
    font-size: 25px;
}

.block_most_popular_burger h3 {
    color: #FFFFFF;
    font-size: 40px;
    line-height: .85;
    letter-spacing: 1px;
}

.block_more_fun h3 {
    width: 30%;
}

.button {
    background-color: #FFC135;
    border: none;
    padding: 8px 20px;
    color: #42200B;
    cursor: pointer;
    margin: auto;
    font-size: 25px;
}


/* -----------shose & enjoy---------------- */

.container_big h2 {
    font-size: 50px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #42200B;
}

.wrapper_p {
    width: 1066px;
    margin: 0px auto 30px;
}

p {
    font-size: 17px;
    text-align: center;
    color: #42200B;
    line-height: 1, 9;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.wraper_block_content_shose_enjoy {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block_content_shose_enjoy {
    width: 33.33%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.block_content_shose_enjoy img {
    width: 100%;
    height: 340px;
    margin-bottom: 26px;

}

.block_content_shose_enjoy h3 {
    font-size: 37px;
    margin-bottom: 5px;
    color: #42200B;
}

.block_content_shose_enjoy p {
    font-size: 17px;
    text-transform: lowercase;
    color: #42200B;
    margin-bottom: 35px;

}

.block_content_shose_enjoy .button {
    background-color: #DF1C1C;
    color: #FFFFFF;
    padding: 10px 30px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
}

/* -- -----------swiper---------------- -- */

.block_swiper {
    width: 1305px;
    margin: auto;
}

.wrapper_swiper {
    position: relative;
    height: 490px;
    background: #fff;
    font-size: 14px;
    color: #000;
    margin: 95px 0px;
    padding: 25px 25px;
    box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.269);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-pagination {

    text-align: start !important;
    margin-left: 37px;
    margin-bottom: 19px;
}

.swiper-pagination-bullet {
    width: 17px !important;
    height: 17px !important;
}

:root {
    --swiper-theme-color: #FFC135 !important;
}

.wrapper_content_swiper {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.block_content_swiper {
    width: 50%;
}

.block_content_swiper h3,
.block_content_swiper h2,
.block_content_swiper p {
    text-align: start;
}

.block_content_swiper h3 {
    font-size: 30px;
}

.block_content_swiper.first {
    margin: 30px 40px;
}

/* ----------Book your table----------------- */

.container_big.book_your_table{
    width: 1440px;
    position: relative;
}

.wrapper_book_your_table{
    width: 785px;
    margin: 125px auto 151px;
    text-align: center;
}

.wrapper_book_your_table h3 {
    font-size: 30px;
    margin-bottom: 1px;
    color: #42200B;
    letter-spacing: 2px;

}

.wrapper_book_your_table h2 {
    font-size: 50px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #42200B;
    letter-spacing: 3px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
}

form input{
    width: 49%;
    margin-bottom: 27px;
    padding: 18px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.button_submit{
    background-color: #DF1C1C;
    border:none;
    cursor: pointer;
    color:#FFFFFF;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
}
.img_burger_book,
.img_plate_book,
.img_bottle{
    position: absolute;

}

.img_burger_book{
    top: -22%;
}

.img_plate_book{
    top: 32%;
    right:0;
}

.img_bottle{
    top: 26%;
    left: 7%;
}

/* -----------------footer------------------ */

.wrapper_footer{
    width: 100%;
    padding-bottom: 20%;
    background: url(./img/Design_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}